body {
  padding-bottom: 40px;
}

footer {
  text-align: center;
  padding-top: 19px; 
  color: #777;
  border-top: 1px solid #E5E5E5;
}

.form-simple {
  position: relative;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-simple .form-control {
  position: relative;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.rmtv-page-header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: 1px solid #EEE;
  margin: 40px 0 20px;
  padding-bottom: 9px;
}

.rmtv-page-header h1 {
  margin: 0;
}

.rmtv-page-header-item {
  flex: auto;
}